.App {
  text-align: center;
}

.container {
  height: calc(100vh - 0px);
}

.poke-list {
  overflow: auto;
  width: 40%;
  display: inline-block;
  height: calc(100% - 200px);
}

.poke-selected {
  height: 20px;
  padding: 6px 6px;
}

.poke-view-selected {
  display: inline-block;
  width: 40%;
  background-color: #ccc9cb;
  /* height: calc(65vh - 55px); */
}

img {
  height: 20px;
  padding: 0 6px;
}
